@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Google:wght@0,400,500,600,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  margin: 0;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #be123c;
}